.juzhong{
    text-align:center;
}

.pxh{
    margin-left: 15%;
}

.tbzsxz{
    margin-left: 15%;
}

#xz2{
    float:right;
}#xz4{
    float:right;
    margin-right: 12%;
    margin-top: 10%;
}